body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006;
    color: #fff;
  }
  
  p, label {
    font-size: 20px;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
  }
  
  h3 {
    font-size: 25px; 
  }
  
  label {
    display: flex;
  }
  
  #name-label, #email-label, #number-label, #select {
    margin-left: 50px;
  }
  
  textarea {
    width: 500px;
    height: 100px;
    border-radius: 10px;
    margin-top: -20px;
    
  }
  
  
  input[type="text"], input[type="email"], input[type="number"] {
    width: 500px;
    height: 20px;
    border-radius: 5px;
  }
  
  input[type="checkbox"], input[type="radio"] {
    margin-left: 50px
  }
  
  input[type="submit"] {
    border-radius: 7px;
    background-color: #456ff8;
    color: #fff;
    width: 500px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  select {
    border-radius: 5px;
    margin-left: -64%;
  }